<div class="pageheader">
    <h2>Application Errors</h2>
    <p class="description">Daily summary of errors and exceptions raised by Nova and related components</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Application Errors</li>
        </ol>
    </div>
</div>
<section id="main-content" ng-controller="ApplicationErrorsListCtrl as vm">
    <div class="row">
        <div class="form-group col-md-2">
            <label> Report Date </label>
            <select class="form-control" id="reportDate" ng-model="report" ng-options="report.report_date for report in vm.errors">
                <option value="">Select Date</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Summary of Errors</h3>
                        <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                            <i data-widget-toggle class="fa fa-chevron-down"></i>
                            <i data-widget-close class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <table class="table">

                            <thead>
                                <tr>
                                    <td>Message</td>
                                    <td>Log</td>
                                    <td>Count</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="error in report.error_summaries">
                                    <td>{{ error.normalized_message }}</td>
                                    <td>{{ error.log_name }}</td>
                                    <td>{{ error.number_of_errors }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>