<div class="pageheader">
    <h2>Instance Faults</h2>
    <p class="description">Daily Summary of Compute Instance Faults</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Instance Faults</li>
        </ol>
    </div>
</div>
<section id="main-content" ng-controller="InstanceFaultsListCtrl as vm">
    <div class="row">
        <div class="form-group col-md-2">
            <label> Report Date </label> 
            <select class="form-control" id="reportDate">
                <option value="">4/19/2015</option>
                <option value="">4/18/2015</option>
                <option value="">4/17/2015</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Summary of Faults</h3>
                        <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                            <i data-widget-toggle class="fa fa-chevron-down"></i>
                            <i data-widget-close class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <table class="table">

                            <thead>
                                <tr>
                                    <td>Fault</td>
                                    <td>Count</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fault in vm.faults">
                                    <td>{{ fault.name }}</td>
                                    <td>{{ fault.count }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Faults by Host</h3>
                    <div class="actions pull-right">
                        <i data-fullscreen-widget class="fa fa-expand"></i>
                        <i data-widget-toggle class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">

                        <thead>
                            <tr>
                                <td>Host</td>
                                <td>Count</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="host in vm.faultsByHost">
                                <td>{{ host.name }}</td>
                                <td>{{ host.count }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>